
header{
    display: flex;
    justify-content: center;
}
section{
    display: flex;
    justify-content: center;
}
h2{
    color: rebeccapurple;
    margin-bottom: 40px;
    cursor: pointer;
    margin-top: 30px;

}
#container{
    display: flex;
    justify-content: center;
    border: rgba(50,50,200,0.45) solid 2px;
    border-radius: 18px;
    width: 500px;
    height: 600px;
    padding: 30px;
    box-shadow: rebeccapurple 7px 6.5px 10px;
    flex-wrap: wrap;


}
.btnContainer{
    display: flex;
    justify-content: space-around;

}
.btn-danger{
    font-weight: bold;
    width: 100px;
    margin-top: 30px;
    margin-bottom: 20px;

}
.name{
    display: inline-block;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: none;
    color: royalblue;

}




